<div class="content" style="padding: 3px 0px 5px 10px ;">
<ul class="nav nav-pills" style="margin-bottom: 0px;">
  {% set menuItem = knp_menu_get('SmirikAdminBundle:Builder:mainMenu') %}
  {% for item in menuItem %}
      {% if item.hasChildren %}
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              {{ item.label|trans }}
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            {% for iitem in item %}
              <li><a href="{{ iitem.uri }}">{{ iitem.label|trans }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        {% if item.isCurrent %}
          <li class="active"><a href="{{ item.uri }}">{{ item.label|trans }}</a></li>
        {% else %}
          <li><a href="{{ item.uri }}">{{ item.label|trans }}</a></li>
        {% endif %}
      {% endif %}
  {% endfor %}
</ul>
</div>