{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' control-label'}) %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ ('form.'~label)|trans({}) }}</label>
{% endspaceless %}
{% endblock %}

{% block field_row %}
		<div class="control-group">
			<div class="form_error">
				{{ form_errors(form) }}
			</div>
        {{ form_label(form) }}
			<div class="controls">
        {{ form_widget(form) }}
			</div>
		</div>
		<!-- /clearfix -->
{% endblock field_row %}

{% block collection_widget %}
{% spaceless %}
		{{ form_errors(form) }}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
	<div class="form_collection">
		{% set formNum = 1 %}
		 <ul>
     {% for rows in form %}
				<li><a class="ajax" href="#" data-controls-modal="{{ form.get('name') }}{{ formNum }}" data-keyboard="true" data-backdrop="static" >See</a></li>
				<div id="{{ form.get('name') }}{{ formNum }}" class="modal fade hide" style="width: 700px;">
					<div class="modal-header">
		        <a href="#" class="close">&times;</a>
		        <h3>{{ 'admin.modal.collection.edit'|trans }}</h3>
		      </div>
					<div class="modal-body">
					{% set fieldNum = 1 %}
					{% for row in rows %}
						<div class="form_error">
							{{ form_errors(row) }}
						</div>
						<div class="form_label">
			        {{ form_label(row) }}
						</div>
						<div class="input form_widget">
			        {{ form_widget(row) }}
						</div>
					{% set fieldNum = fieldNum + 1 %}
					{% endfor %}
	        </div>
	        <div class="modal-footer">
	          <a href="#" class="btn danger">{{ 'admin.course.action.delete'|trans }}</a>
	          <a href="#" class="btn primary">{{ 'admin.course.action.save'|trans }}</a>
	        </div>
				</div>
 			{% set formNum = formNum + 1 %}
     {% endfor %}
    {{ form_rest(form) }}
		<div class="form_collection_add_new">
		<a class="add" title="Add" href="javascript:void()">
        <span>{{ 'form.collection.item.add'|trans }}</span>
    </a>
		</div>
  </div>
{% endspaceless %}
{% endblock collection_widget %}

